<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serverhostaddress" value="http://localhost:9123/" />
    <add key="clienthostaddress" value="http://localhost:8082/" />
    <add key="refreshrate" value="5" />
    <add key="sleepFrom" value="20:00" />
    <add key="sleepUntil" value="07:00" />
    <add key="historyLocation" value="./history" />
    <add key="backupLocation" value="./backups" />
    <add key="configLocation" value="./configuration" />
    <add key="tfsAddress" value="http://tfs.rsvzinasti.be:8080/tfs/sequoiacollection" />
    <add key="tfsProject" value="sequoia"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxBufferPoolSize="5242880000" maxReceivedMessageSize="26214400">
          <readerQuotas maxStringContentLength="26214400" />
          <security mode="None" />
        </binding>
        <binding name="basicHttpNoSecurity" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9223372036854775807" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="textMessageEncodingConfiguration">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" writeEncoding="utf-8">
            <readerQuotas maxDepth="51380224" maxStringContentLength="51380224" maxArrayLength="51380224" maxBytesPerRead="51380224" maxNameTableCharCount="51380224" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="65536" maxBufferSize="65536" transferMode="Buffered" />
        </binding>
        <binding name="mtomMessageEncodingConfiguration">
          <mtomMessageEncoding>
            <readerQuotas maxDepth="51380224" maxStringContentLength="51380224" maxArrayLength="51380224" maxBytesPerRead="51380224" maxNameTableCharCount="51380224" />
          </mtomMessageEncoding>
          <httpTransport maxBufferPoolSize="51380224" maxReceivedMessageSize="51380224" maxBufferSize="51380224" />
        </binding>
      </customBinding>
      <netMsmqBinding>
        <binding name="HpOpenViewBinding" deadLetterQueue="System" exactlyOnce="false" maxReceivedMessageSize="2147483647" timeToLive="1.00:00:00" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDequeueService" />
        <binding name="InternalBusinessBinding" maxBufferPoolSize="5242880000" maxBufferSize="26214400" maxConnections="30">
          <readerQuotas maxStringContentLength="26214400" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="B2BGatewayBinding" maxBufferPoolSize="5242880000" maxBufferSize="26214400" maxConnections="30" maxReceivedMessageSize="26214400">
          <readerQuotas maxStringContentLength="26214400" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="B2BSupportBinding" />     
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>